@import url("https://use.typekit.net/ylg0ybk.css");
/*font-family: brandon-grotesque;*/

body {
	background-color: #141414; /*bijna zwart*/
	font-family: 'brandon-grotesque', 'sans-serif';
	color: #D3D3D3; /*witgrijs*/
	/*margin-left: 20px;
	margin-right: 20px;*/
}

body { /*waarom werkt dit niet???*/
	display: grid;
	grid-template-columns: 1fr 7fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:
		". container ."; 
}

.container {
	grid-area: container;
}

/*.logo {
	margin: 15px;
}*/

img {
	width: 70%; /*max. 100% zodat de afbeeldingen niet buiten het scherm vallen*/
}

figure { /*afbeelding in het midden van het scherm*/
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 1.3em;
	margin-top: 10px;
	margin-bottom: 30px;
}

h2 {
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

p {
	font-size: 0.9em;
	margin: 0;
	/*align-self: flex-end;*/
	font-weight: bold;
}

.legenda {
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
}

.agrariers, .artsen, .technici, .bemanning, .overig {
	display: flex;
	flex-direction: column;
}

.kleur {
	height: 15px;
	width: 30px;
	border-radius: 50%;
}

.kleur1 {
	background-color: #4025FF;
}

.kleur2 {
	background-color: #34D5A9;
}

.kleur3 {
	background-color: #1B0F40;
}

.kleur4 {
	background-color: #351F80;
}

.kleur5 {
	background-color: #5B35D9;
}

.naastElkaar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
}

.grafiek {
	display: flex;
	flex-direction: column; 
	background-color: #1D1D1D;
	border-radius: 10px;
	/*display: inline-block;*/
	justify-content: center; /*doet niks*/
	align-items: center;
	text-align: center;
	max-width: 100%;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;

}

.holderAfstand {
	width: 100%; /*grootte van grafiek1*/
}

.holderKolonisten {
	width: 100%;

}

.holderVoorraden {
	width: 100%; 
}

/*M E D I A   Q U E R I E S*/
/*TABLET*/
@media only screen and (min-width: 480px) and (max-width: 991px){
	body { 
		display: grid;
		grid-template-columns: 1fr 20fr 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			". container ."; 
	}

	.container {
		grid-area: container;
	}

	img {
		width: 50%;
	}

	.grafiek {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.holderAfstand {
		width: 70%;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.holderKolonisten {
		width: 50%;
	}

	.holderVoorraden {
		width: 70%;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.tabletNaastElkaar {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	p { 
		padding-left: 140px; /*Op deze manier gedaan want de flexbox die op mobiel wel werkt, werkt hier niet op (justify-content: space-between)*/
	}

}

/*DESKTOP*/
@media only screen and (min-width: 992px){
	body { 
		display: grid;
		grid-template-columns: 2fr 30fr 2fr;
		grid-template-rows: auto;
		grid-template-areas:
			". container ."; 
	}

	.container {
		grid-area: container;
	}
	/* Met flexbox de 3 grafieken uitlijnen lukte niet, dus in plaats daarvan grid gemaakt
	main {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.grafiek1 {
		flex: 2 1 auto;
	}

	.grafiek3 {
		flex: 2 1 auto;
	}
	*/

	/*de grid omdat flexbox niet lukte*/
	main {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto/*5fr 1fr 2fr 3fr*/;
		grid-column-gap: 2.5em;
		grid-template-areas:
		"grafiek1 grafiek2"
		/*"grafiek1 grafiek2"*/
		/*". grafiek2"*/
		"grafiek3 grafiek2"
		"grafiek3 .";
	}

	.grafiek1 {
		grid-area: grafiek1;
	}

	.grafiek2 {
		grid-area: grafiek2;
		display: flex;
		justify-content: flex-start;
	}

	/*.tabletNaastElkaar {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}*/

	.holderKolonisten {
		width: 100%;
		margin-top: 40px;
		margin-bottom: 80px;
	}

	.grafiek3 {
		grid-area: grafiek3;
	}

}