@import url("https://use.typekit.net/ylg0ybk.css");
/*font-family: brandon-grotesque;*/

body {
	background-color: #141414; /*bijna zwart*/
	font-family: 'brandon-grotesque', 'sans-serif';
	color: #D3D3D3; /*witgrijs*/
}

img {
	width: 70%; /*zodat de afbeeldingen niet buiten het scherm vallen*/
}

figure { /*afbeelding in het midden van het scherm*/
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 1.3em;
}

h2 {
	font-size: 0.9em;
	font-style: normal;
}

.kleur {
	height: 15px;
	width: 30px;
	border-radius: 50%;
}

.kleur1 {
	background-color: #4025FF;
}

.kleur2 {
	background-color: #34D5A9;
}

.kleur3 {
	background-color: #1B0F40;
}

.kleur4 {
	background-color: #351F80;
}

.kleur5 {
	background-color: #5B35D9;
}


.grafiek {
	display: flex;
	background-color: #1D1D1D;
	border-radius: 10px;
	display: inline-block;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.holderAfstand {
	width: 100%; /*grootte van grafiek1*/
}

.holderKolonisten {
	width: 100%;
}

.holderVoorraden {
	width: 100%; 
}


/*M E D I A   Q U E R I E S*/
/*MOBIEL*/
@media only screen and (max-width: 480px){		/*moet dit niet weg? en dan de algemene code voor 'mobile first'*/
	}

/*TABLET*/
@media only screen and (min-width: 480px) and (max-width: 991px){
	}

/*DESKTOP*/
@media only screen and (min-width: 992px){
	}